body {
    font-family: Arial;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input,
select,
button {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.high {
    background-color: red;
}

.medium {
    background-color: orange;
}

.low {
    background-color: green;
}

.delete-btn {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}